<p>Here you can edit your profile:</p>
<img src="/images/smoking-ban-solid.svg" id="image" alt="">

<form class="editprofile"  method="post">
    <input id="firstname" value="{{data.firstname}}" type="text" name="name" placeholder="name">
    <input id ="lastname" value="{{data.lastname}}" type="text" name="surname" placeholder="surname">
    <input id="email" value="{{data.email}}" type="text" name="email" placeholder="email">
    <input id="password" type="password" name="password" placeholder="password">
    <input id="agefield" value="{{data.age}}" type="age" name="age" placeholder="age">
    <input id="cityfield" value="{{data.city}}" type="city" name="city" placeholder="city">
    <input id="homepagefield" type="homepage" name="url" placeholder="homepage">
    <button type="submit" name="continue">UPDATE</button>

</form>
